<html>
<body>
<section class="page-box register-page">
    <form mthod="GET" action="http://localhost:81/register">
        <div class="register-box">
            <h1 class="head">Join b00x!</h1>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                     <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="username" placeholder="Username">
                </div>
            </div>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="fname" placeholder="First Name">
                </div>
            </div>  
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="lname" placeholder="Last Name">
                </div>
            </div>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </span>
                    <input type="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </span>
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>  
            <div class="input-icon">
                <div class="input-wrapper">
                    <span class="inpicon">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </span>
                    <input type="password" name="cpassword" placeholder="Confirm password">
                </div>
            </div>
            <button type="submit" class="submit-button slide">&nbsp;</button>
        </div>
    </form>
</section>
</body>
</html>