<html>
<body>
<div class="page-box register-page">
    <form method="GET" action="http://localhost:81/login">
        <div class="register-box">
        <h1 class="head">Login to b00x!</h1>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                <input type="text" name="username" placeholder="Username/Email">
            </div>
        </div>
        <div class="input-icon">
            <div class="input-wrapper">
                <span class="inpicon">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
                <input type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="login-platforms">
            <button class="icon-button fb-login">
                <span class="button-icon">
                    <i class="fab fa-facebook-square"></i> 
                </span>
                <span class="button-text">
                    With Facebook
                </span>       
            </button>
            <button class="icon-button goodreads-login">
                <span class="button-icon">
                    <i class="fab fa-goodreads-g"></i>
                </span> 
                <span class="button-text">
                    With Goodreads
                </span>
            </button>
        </div>
        <button type="submit" class="submit-button slide">&nbsp;</button>               
        </div>
    </form>
</div>
</body>
</html>